<footer class="footer mt-auto py-3 bg-body-tertiary" id="sticky-footer">
  <div class="container-footer">
    <span class="text-body-secondary"> <%= link_to "Google", "https://www.google.com", class: "text-success" %> </span>
  </div>
</footer>